Debug/
Release/
ipch/
libs/glew/Debug/
libs/glew/Release/
libs/qhull/Debug/
libs/qhull/Release/
libs/tinyxml/Debug/
libs/tinyxml/Release/
libs/zlib/Debug/
libs/zlib/Release/
pyplasm.sdf
pyplasm.v11.suo
src/xge/Debug/
src/xge/Release/
src/xgemain/Debug/
src/xgemain/Release/
src/xgemain/xgemain.vcxproj.user
src/xgepy/Debug/
src/xgepy/Release/
